@model FinalProject.Models.Users

@{
    ViewData["Title"] = "Details";
}

    <head>
        <title>Chart Display</title>

    </head>

    <body onload="requestJSONData();">
        <h2>Details</h2>
        <div>
            <hr />
            <fieldset>
                <legend>
                    User details:
                    <dl class="dl-horizontal" align="left">
                        <dt align="left">
                            Username:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Username)
                        </dd>
                        <dt align="left">
                            Initial balance:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Amount)
                        </dd>
                        <dt align="left">
                            Member since:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Created_At)
                        </dd>
                    </dl>
                </legend>
            </fieldset>
        </div>
        <table border="1px solid black";>
          <tr>
            <th> Company Name </th>
            <th> Symbol </th>
            <th> Current Price </th>
            <th> Amount Invested </th>
            <th> Earnings </th>
            <th> Current Shares (this can be adjusted) </th>
          </tr>
          <tr>
            <td id=CompName1></td>
            <td id=CompSymbol1></td>
            <td id=CompCurPrice1></td>
            <td id=UserInvestment1></td>
            <td id=UserEarnings1></td>
            <td><input type="text" id=CompCurrShares1></td>
          </tr>
          <tr>
            <td id=CompName2></td>
            <td id=CompSymbol2></td>
            <td id=CompCurPrice2></td>
            <td id=UserInvestment2></td>
            <td id=UserEarnings2></td>
            <td><input type="text" id=CompCurrShares2></td>
          </tr>
          <tr>
            <td id=CompName3></td>
            <td id=CompSymbol3></td>
            <td id=CompCurPrice3></td>
            <td id=UserInvestment3></td>
            <td id=UserEarnings3></td>
            <td><input type="text" id=CompCurrShares3></td>
          </tr>
        </table>
        <h1 align="center"> Your Chart </h1>
        <canvas id="displayChart" width='1000px' height='800px' style='border:1px solid #000000;'>
            Your browser does not support html5
        </canvas>
        <p></p>
        <div align="center">
          <input align="center" type="button" id="pieChart" value="PIE" />
          <input align="center" type="button" id="barChart" value="BAR" />
          <input align="center" type="button" id="lineChart" value="LINE" />
          <p></p>
          <a asp-action="Index">Logout</a>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
