@model FinalProject.Models.Users

@{
    ViewData["Title"] = "Index";
}


<script type="text/javascript" src="~/js/site.js"></script>

<div align="center">
    <h1> Stock Market Tracker </h1>
    <head>
        <title>Login Page</title>
    </head>
 
    <p>
        <div class="row">
            <div>
                <form asp-action="Details">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label">Username:</label>
                        <input asp-for="Username" required/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Pword" class="control-label">Password:</label>
                        <input asp-for="Pword" required/>
                        <span asp-validation-for="Pword" class="text-danger"></span>
                   </div>
                    <div class="form-group">
                        <input type="submit" value="Login" />
                        <input type="button" value="Create New" onclick="location.href='@Url.Action("Create","Users")'" />
                        <input align="center" type="button" id="pieChart" value="PIE" onclick="requestCoinListData()" />
                    </div>
                </form>
            </div>
        </div>
    </p>


</div>
