@{
    ViewData["Title"] = "Chart output";
}


<div align="center">
    <h1> Chart: </h1>

    <head>
        <title>chart output</title>

    </head>
    <body>

      <canvas id="chart" width='600px' height='600px' style='border:1px solid #000000;'>
        Your browser does not support html5
      </canvas>
    </body>



    <script type="text/javascript" src="~/js/site.js"></script>
</div>
