@{
    ViewData["Title"] = "Chart page";
}

<div align="center">
    <h1> Your Chart </h1>

    <head>
        <title>Chart Display</title>

    </head>

    <body>
        <canvas id="displayChart" width='1000px' height='800px' style='border:1px solid #000000;'>
            Your browser does not support html5
        </canvas>
        <input align="left" type="button" id="pieChart" value="PIE"/>
        <input align="center" type="button" id="barChart" value="BAR"/>
        <input align="right" type="button" id="lineChart" value="LINE"/>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</div>
