@{
    ViewData["Title"] = "Home Page";
}


<div align="center">
    <h1> Stock Market Tracker </h1>

    <head>
        <title>Login Page</title>

    </head>
    <body>
      <input align="center" type="button" id="loginBtn" value="Login"/>
      <input align="center" type="button" id="newUser" value="Create new user"/>
    </body>

    <script type="text/javascript" src="~/js/site.js"></script>
</div>
