@{
    ViewData["Title"] = "Home Page";
}


<div align="center">
    <h1> Insert Final Project Name </h1>

    <head>
        <title>Game of Life</title>

    </head>
    <body>

        @using (Html.BeginForm())
        {
                <input align="right" type="text" id="userName" value="Username"/>
                <input align="right" type="text" id="password" value="Password"/>
                <input align="right" type="button" id="submit" value="Submit"/>
        }
    </body>



    <script type="text/javascript" src="~/js/site.js"></script>
</div>