@{
    ViewData["Title"] = "Home Page";
}


<div align="center">
    <head>
        <title>Stock Tracker</title>
    </head>
    <body>

        <h1>The Real Game of Life</h1>


        @using (Html.BeginForm())
        {
            <input align="right" type="text" id="userName" value="Username" />
            <input align="right" type="text" id="password" value="Password" />
            <input align="right" type="button" id="submit" value="Submit" />
        }
    </body>



    <script type="text/javascript" src="~/js/site.js"></script>
</div>