@{
    ViewData["Title"] = "stockTable";
}

<div align="center">
    <h1> Your Stock Selections </h1>

    <head>
        <title>Your Stock Selections</title>
    </head>

    <body id=tableId>
    </body>

    <script type="text/javascript" src="~/js/site.js"></script>
</div>
