@{
    ViewData["Title"] = "stockTable";
}

<div align="center">
    <h1> Your Stock Selections </h1>

    <head>
        <title>Your Stock Selections</title>
    </head>

    <body id="tableId" onload="requestJSONData();">
      <table>
        <tr>
          <th>Company Name</th>
          <th>Symbol</th>
          <th>Current Price</th>
          <th>Amount Invested</th>
          <th>Earnings</th>
          <th>Current Shares (this can be adjusted)</th>
        </tr>
        <tr>
          <td id=CompName1></td>
          <td id=CompSymbol1></td>
          <td id=CompCurPrice1></td>
          <td id=UserInvestment1></td>
          <td id=UserEarnings1></td>
          <td><input type="text" id=CompCurrShares1></td>
        </tr>
        <tr>
          <td id=CompName2></td>
          <td id=CompSymbol2></td>
          <td id=CompCurPrice2></td>
          <td id=UserInvestment2></td>
          <td id=UserEarnings2></td>
          <td><input type="text" id=CompCurrShares2></td>
        </tr>
        <tr>
          <td id=CompName3></td>
          <td id=CompSymbol3></td>
          <td id=CompCurPrice3></td>
          <td id=UserInvestment3></td>
          <td id=UserEarnings3></td>
          <td><input type="text" id=CompCurrShares3></td>
        </tr>
      </table>
    </body>

    <script type="text/javascript" src="~/js/site.js"></script>
</div>
