@model FinalProject.Models.Stocks

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>StockPurchaseEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">       
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsersId" class="control-label" >User: @Html.DisplayFor(model => model.UsersId)</label>
                <input asp-for="UsersId" class="form-control" value="model => model.UsersId" />
            </div>
            <div class="form-group">
                <label asp-for="stock1" class="control-label">Stock:</label>
                <input asp-for="stock1" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="stock2" class="control-label">Stock:</label>
                <input asp-for="stock2" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="stock3" class="control-label">Stock:</label>
                <input asp-for="stock3" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
